@import "tailwindcss";
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}

/* Tambahan agar body tidak kaku */
body {
  background-color: #f8fafc; /* slate-50 */
  color: #1e293b; /* slate-800 */
}
